project:
  type: website
  output-dir: docs

website:
  title: "SeaGis Cal Guide pt/br"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    toc: true
    toc-location: right
    toc-depth: 2
    number-sections: true
    theme:
      - cerulean
      - brand
    css: styles.css

editor: visual

